@font-face {
    font-family: 'starwars';
    src: local('STARWARS'), url('../font/STARWARS.woff');
}

h1{
    font-family: 'starwars';
    text-align: center;
    padding: 3%;
}

button {
    font-family: 'starwars';
    padding: 10px;
}

.button-container {
    text-align: center;
}